.MuiBox-root-16 {
    padding:30px 20px !important;
}

.copyright{
    padding-top: 35px !important;
}

.footbox{

    background-color: #7710FF;
    background-Size:cover;
    width: 100%;
    color : white;
    font-weight: bold;
}
