.copyright{
    padding-top: 35px !important;
    margin-top: 10px;
}


.footbox{

    background-color: #7710FF;
    background-Size:cover;
    width: 100%;
    color : white;
    font-weight: bold;
    margin-top: 10%;
    
    left: 0;
    bottom: 0;
    
}

