.copyright{
    padding-top: 35px !important;
    margin-top: 10px;
}

.MuiBox-root-17 {
    padding: 40px !important;
}

.footbox{

    background-color: #7710FF;
    background-Size:cover;
    width: 100%;
    color : white;
    font-weight: bold;
    margin-top: 10%;
}
