.makeStyles-root-4 > * {
   
    margin: 8px;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #6C63FF !important;
}

.PrivateNotchedOutline-root-6 {
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
}


.txt-h5 {
    font-size: 6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    color: #6C63FF !important;
}


.txt-h4 {
    font-size: 4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    color: #6C63FF !important;
}
.button {
    color: #fff;
    background-color: #6C63FF !important;
}

.avatar {
    width: 250px !important;
    height: 250px !important;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    background: url("../../images/homesecond.png");
    background-size: cover;
    margin-top: 10%;
    margin-left: 80%;
}

.avatar-button{
    background-color: #F0D9FF;
    opacity: 0.25;
    height: 40%;
    width: 100%;
    
}

.avatar-button:hover{
    opacity: 0.8;
}

legend {
    float: none ;
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: calc(1.275rem + .3vw);
    line-height: inherit;
}

.gridwid {
    width: 100% !important;
}

.error{
    color: red;
}
